<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for msg in messages %}
              <li>{{ msg }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="post">
            <label>Номер карты:</label><br>
            <input type="text" name="card_number" required><br>
            <label>Айди (8 цифр):</label><br>
            <input type="text" name="user_id" pattern="\d{8}" title="Введите 8 цифр" required><br>
            <label>Имя:</label><br>
            <input type="text" name="name" required><br>
            <label>Пароль:</label><br>
            <input type="password" name="password" required><br><br>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="{{ url_for('index') }}">Назад</a>
    </div>
</body>
</html>